<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Receive</title>
      <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="vendor/linearicons/style.css">
    <link rel="stylesheet" href="vendor/chartist/css/chartist-custom.css">
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/main.css">
    <!-- GOOGLE FONTS -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <!-- ICONS -->
    <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon.png">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/images/favicon.png" />
      <!-- ICONS -->
      <link rel="apple-touch-icon" sizes="76x76" href="images/apple-icon.png">
      <link rel="icon" type="image/png" sizes="96x96" href="images/favicon.png">
   </head>
   <body>
      <!-- WRAPPER -->
      <div id="wrapper">
         <!-- NAVBAR -->
         <nav class="navbar navbar-default navbar-fixed-top">
            <div class="brand">
               <a href="/"><img src="images/logo-dark.png" alt="testwallet Logo" class="img-responsive logo"></a>
            </div>
            <div class="container-fluid">
               <div class="navbar-btn">
                  <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
               </div>
               <div id="navbar-menu">
                  <ul class="nav navbar-nav navbar-right">
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="images/user.png" class="img-circle" alt="Avatar"> <span><%=  user.username %></span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                        <ul class="dropdown-menu">
                           <li><a href="/logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                        </ul>
                     </li>
                  </ul>
               </div>
            </div>
         </nav>
         <!-- END NAVBAR -->
         <!-- LEFT SIDEBAR -->
         <div id="sidebar-nav" class="sidebar">
            <div class="sidebar-scroll">
               <nav>
                  <ul class="nav">
                     <li><a href="/wallet" class=""><i class="lnr lnr-home"></i> <span>Wallet</span></a></li>
                     <li><a href="/receive" class="active"><i class="lnr lnr-arrow-right"></i> <span>Receive</span></a></li>
                     <li>
                        <a href="#subPages" data-toggle="collapse" class="collapsed"><i class="lnr lnr-arrow-left"></i> <span>Send</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                        <div id="subPages" class="collapse ">
                           <ul class="nav">
                              <li><a href="send-epic" class="">EPIC</a></li>
                               <li><a href="send-index" class="">INDEX</a></li>
                               <li><a href="send-securecloud" class="">SECURE CLOUD</a></li>
                              <!--<li><a href="page-lockscreen.html" class="">Lockscreen</a></li> -->
                           </ul>
                        </div>
                     </li>
                  </ul>
               </nav>
            </div>
         </div>
         <!-- END LEFT SIDEBAR -->
         <!-- MAIN -->
         <div class="main">
            <!-- MAIN CONTENT -->
            <div class="main-content">
               <div class="container-fluid">
                  <div id="wrapper">
                    <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="fa fa-warning"></i> Please just one deposit per address. A address is valid for only one hour. If you send more deposits on same adress you will lose coins. 
                  </div>
                     <div class="vertical-align-wrap">
                        <div class="vertical-align-middle">
                           <div class="auth-box lockscreen clearfix">
                              <div class="content">
                                 <h1 class="sr-only">Receive Panel</h1>
                                 <div class="logo text-center"><img src="images/logo-dark.png" alt="Logo"></div>
                                 <div class="user text-center">
                                    <img src="images/user.png" class="img-circle" alt="Avatar">
                                    <h2 class="name">Address</h2>
                                 </div>
                                 
                                   <center> 
                                   	<button type="button" class="btn btn-primary btn-block" onclick="alert('<%= epic %>')">Get EPIC Address</button><br>
                                    <button type="button" class="btn btn-primary btn-block" onclick="alert('<%= index %>')">Get INDEX Address</button><br>
                                    <button type="button" class="btn btn-primary btn-block" onclick="alert('<%= sc2 %>')">Get Secure Cloud Address</button><br>
                                    <!--<button type="button" class="btn btn-primary btn-block" onclick="alert('<%=  %>')">Get coinname Address</button><br>-->
								                   </center>
                                 
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
            <!-- END MAIN CONTENT -->
         </div>
         <!-- END MAIN -->
         <div class="clearfix"></div>
         <footer>
            <div class="container-fluid">
               <p class="copyright">&copy; 2018 <a href="/" target="_blank">SSL Wallet</a>. All Rights Reserved.</p>
            </div>
         </footer>
      </div>
      <!-- END WRAPPER -->
      <!-- Javascript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
      <script src="vendor/jquery-slimscroll/jquery.slimscroll.min.js"></script>
      <script src="scripts/klorofil-common.js"></script>
   </body>
</html>